.channel-section {
  background-color: #003049;
  color: #fff;
  width: 300px;
}

ul {
  list-style: none;
  margin-bottom: 1em;
}

li {
  padding: 0.3em 2em;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

li:hover {
  background-color: #002031;
}

li.opened {
  background-color: #002031;
}

input {
  background-color: #004b74;
  color: #fff;
  margin: 0 2em;
}

input:hover {
  background-color: #004368;
}

::placeholder {
  color: #d1d1d1;
}
