.primary,
.blue {
  margin: 0 2em;
}

.primary {
  padding: 1em 2em;
  /* width: 87%; */
  background-color: #ccc;
  color: #000;
  margin-bottom: 1em;
}

.primary::placeholder {
  color: #686868;
}

.primary:hover {
  background-color: #c2c0c0;
}

.blue {
  background-color: #004b74;
  color: #fff;
  margin: 0 2em;
}

.blue:hover {
  background-color: #004368;
}

.blue::placeholder {
  color: #d1d1d1;
}
