ul {
  list-style: none;
  margin-bottom: 1em;
}

.channel-section {
  color: white;
  margin-bottom: 3em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.1em;
  padding: 0.3em 1.9em;
  color: #eae2b7;
}

li {
  padding: 0.3em 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s ease-in-out;
}

.channel-section li {
  text-transform: capitalize;
  cursor: pointer;
}

.channel-section li:hover {
  background-color: #002031;
}

li.opened {
  background-color: #002031;
  position: relative;
}

li.opened::before {
  content: " ";
  width: 3px;
  height: 90%;
  display: inline-block;
  position: absolute;
  background-color: #d62828;
  left: 0;
  top: 5%;
  border-radius: 10px;
}

input {
  background-color: #004b74;
  color: #fff;
  margin: 0 2em;
}

input:hover {
  background-color: #004368;
}

::placeholder {
  color: #d1d1d1;
}
