input {
  padding: 0.5em 1em;
  background-color: #ccc;
  outline: none;
  border: none;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

input:hover {
  background-color: #b1b1b1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
